<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path=""
  data-template="vertical-menu-template"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>StreetMode Admin Dashboard</title>

    <meta
      name="description"
      content="Materialize – is the most developer friendly &amp; highly customizable Admin Dashboard Template."
    />
    <meta
      name="keywords"
      content="dashboard, material, material design, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5"
    />

    <!-- End Google Tag Manager -->

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/web/imgs/favicon.jpg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" href="vendor/fonts/materialdesignicons.css" />
    <link rel="stylesheet" href="vendor/fonts/fontawesome.css" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="vendor/css/rtl/core.css"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="vendor/css/rtl/theme-default.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />
    <link rel="stylesheet" href="vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="vendor/libs/typeahead-js/typeahead.css" />
    <link
      rel="stylesheet"
      href="vendor/libs/datatables-bs5/datatables.bootstrap5.css"
    />
    <link
      rel="stylesheet"
      href="vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css"
    />
    <link rel="stylesheet" href="vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="vendor/libs/swiper/swiper.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="vendor/css/pages/cards-statistics.css" />
    <link rel="stylesheet" href="vendor/css/pages/cards-analytics.css" />
    <!-- Helpers -->
    <script src="vendor/js/helpers.js"></script>
    <script src="js/config.js"></script>
  </head>

  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5J3LMKC"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
