 <!-- Vendor JS-->
 <script src="web/js/vendor/modernizr-3.6.0.min.js"></script>
 <script src="web/js/vendor/jquery-3.6.0.min.js"></script>
 <script src="web/js/vendor/jquery-migrate-3.3.0.min.js"></script>
 <script src="web/js/vendor/bootstrap.bundle.min.js"></script>
 <script src="web/js/plugins/slick.js"></script>
 <script src="web/js/plugins/jquery.syotimer.min.js"></script>
 <script src="web/js/plugins/wow.js"></script>
 <script src="web/js/plugins/jquery-ui.js"></script>
 <script src="web/js/plugins/perfect-scrollbar.js"></script>
 <script src="web/js/plugins/magnific-popup.js"></script>
 <script src="web/js/plugins/select2.min.js"></script>
 <script src="web/js/plugins/waypoints.js"></script>
 <script src="web/js/plugins/counterup.js"></script>
 <script src="web/js/plugins/jquery.countdown.min.js"></script>
 <script src="web/js/plugins/images-loaded.js"></script>
 <script src="web/js/plugins/isotope.js"></script>
 <script src="web/js/plugins/scrollup.js"></script>
 <script src="web/js/plugins/jquery.vticker-min.js"></script>
 <script src="web/js/plugins/jquery.theia.sticky.js"></script>
 <script src="web/js/plugins/jquery.elevatezoom.js"></script>
 <!-- Template  JS -->
 <script src="web/js/maind134.js?v=3.4"></script>
 <script src="web/js/shopd134.js?v=3.4"></script>
</body>
</html>
