<header class="header-area header-style-3 header-height-2">
  <div class="header-top header-top-ptb-1 d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6">
          <div class="header-info">
            <ul>
              <li>
                <i class="fi-rs-smartphone"></i>
                <a href="#">(+01) - 2345 - 6789</a>
              </li>
              <li><i class="fi-rs-marker"></i><a href="">Our location</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="header-info header-info-right">
            <ul>
              <% if(userName){ %>
              <li>
                <a class="language-dropdown-active" href="/auth/logout">
                  <i class="fi-rs-world"></i> Log Out
                </a>
              </li>
              <%}%> <% if(userName){ %>
              <li>
                <a href="/account">
                  <i class="fi-rs-user"></i><%= userName %>
                </a>
              </li>

              <% }else{ %>
              <li>
                <a href="auth/login">Log In </a>
                <span style="margin: 0 5px"> | </span>
                <a href="auth/register"> Sign up</a>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom header-bottom-bg-color sticky-bar">
    <div class="container">
      <div class="header-wrap header-space-between position-relative main-nav">
        <div class="logo logo-width-1 d-block d-lg-none">
          <a href="/"><img src="/web/imgs/streetmode.png" alt="logo" /></a>
        </div>
        <div class="header-nav d-none d-lg-flex">
          <div class="logo logo-width-1">
            <a href="/"><img src="/web/imgs/streetmode.png" alt="logo" /></a>
          </div>
          <div
            class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block"
          >
            <nav>
              <ul>
                <li>
                  <a class="active" href="/">Home </a>
                </li>
                <li>
                  <a href="/shop">Shop</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="hotline d-none d-lg-block">
          <div class="header-action-2">
            <div class="header-action-icon-2">
              <a href="/wishlist">
                <img
                  class="svgInject"
                  alt="Evara"
                  src="/web/imgs/theme/icons/icon-heart.svg"
                />
                <!-- <span class="pro-count blue">4</span> -->
              </a>
            </div>
            <div class="header-action-icon-2">
              <a class="mini-cart-icon" href="/cart">
                <img alt="Evara" src="/web/imgs/theme/icons/icon-cart.svg" />
                <!-- <span class="pro-count blue">2</span> -->
              </a>
            </div>
          </div>
        </div>
        <p class="mobile-promotion">
          Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%
        </p>
        <div class="header-action-right d-block d-lg-none">
          <div class="header-action-2">
            <div class="header-action-icon-2">
              <a href="/wishlist">
                <img alt="" src="/web/imgs/theme/icons/icon-heart.svg" />
                <!-- <span class="pro-count white">4</span> -->
              </a>
            </div>
            <div class="header-action-icon-2">
              <a class="mini-cart-icon" href="/cart">
                <img alt="" src="/web/imgs/theme/icons/icon-cart.svg" />
                <!-- <span class="pro-count white">2</span> -->
              </a>
            </div>
            <div class="header-action-icon-2 d-block d-lg-none">
              <div class="burger-icon burger-icon-white">
                <span class="burger-icon-top"></span>
                <span class="burger-icon-mid"></span>
                <span class="burger-icon-bottom"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
